<div class="container-fuild topnav">
  <div class="topnav">
    <img class="logo-img" src="../../assets/Image/logo.png" />

    <div class="box1">
      <p class="p">12 </p>
    </div>

    <div class="box2">
      <p class="p">00 </p>
    </div>

    <div class="box3">
      <p class="p">AM</p>
    </div>

    <h3 class="heading">EMPLOYEE</h3>

    <i class="material-icons" style="font-size: 48px; color: whitesmoke; display: in-block"></i>
    <div class="dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
        style="color: white;">
        Admin
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Update</a>
        <a class="dropdown-item" href="#">Another action</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-iteam" href="#">Somthimg else</a>
      </div>

    </div>

  </div>
</div>