<div class="container-fluid">
    <div class="row">
        <div class="col-lg-11">
            <br>
            <label class="headings">My Chat</label>
        </div>
    </div>

    <br>
    <div class="card">
        <div class="row">
            <div class="col-lg-4">
                <input type="search" class="form-control" placeholder="what do you want to learn">
            </div>
            <div class="col-lg 2">
                <select  style="width:50%" name="" id="" class="form-control" placeholder="Select Department">
                    <option value="">Select Department</option>
                    <option value=""></option>
                    <option value=""></option>

                </select>
                <!-- <input  style="width: 50%;" type="search" class="form-control" placeholder="Select Department"> -->
            </div>
        </div>
    </div>
    <br>

    <div class="card">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="cards">
                            <span class="dot"><p class="alph-text">A</p></span>
                            <p class="text">
                                Name:Arjun
                                <br>
                                Position:Employee
                                <br>
                                Department:
                               Engineer
                                Phone:9975766322
                                Email:Kapil@gmail.com
                            </p>
                        </div>
                        <br>
                        <div class="cards">
                            <span class="dot"><p class="alph-text">R</p></span>

                            <p class="text">
                                Name:Arjun
                                <br>
                                Position:Employee
                                <br>
                                Department:
                                Management
                                Phone:9975766322
                                Email:john@gmail.com
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="cards">
                            <span class="dot"><p class="alph-text">D</p></span>

                            <p class="text">

                                Name:Arjun
                                <br>
                                Position:Employee
                                <br>
                                Department:
                                Management
                                Phone:9975766322
                                Email:Danny@gmail.com
                            </p>
                        </div>
                        <br>
                        <div class="cards">
                            <span class="dot"><p class="alph-text">R</p></span>

                            <p class="text">

                                Name:Arjun
                                <br>
                                Position:Employee
                                <br>
                                Department:
                                Management
                                Phone:9975766322
                                Email:Ranga@gmail.com
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="cards">
                            <span class="dot"><p class="alph-text">K</p></span>

                            <p class="text">
                                Name:Arjun
                                <br>
                                Position:Employee
                                <br>
                                Department:
                                Management
                                Phone:9975766322
                                Email:kapildev@gmail.com
                            </p>
                        </div>
                        <br>
                        <div class="cards">
                            <span class="dot"><p class="alph-text">R</p></span>

                            <p class="text">
                                Name:Arjun
                                <br>
                                Position:Employee
                                <br>
                                Department:
                                Management
                                Phone:9975766322
                                Email:John@gmail.com
                            </p>
                        </div>
                    </div>


                    <div class="col-lg-3">
                        <div class="cards">
                            <span class="dot"><p class="alph-text">K</p></span>

                            <p class="text">
                                Name:Arjun
                                <br>
                                Position:Employee
                                <br>
                                Department:
                                Management
                                Phone:9975766322
                                Email:Kiran@gmail.com
                            </p>
                        </div>
                       
                        <br>
                        <div class="cards">
                            <span class="dot"><p class="alph-text">S</p></span>

                            <p class="text">
                                Name:Arjun
                                <br>
                                Position:Employee
                                <br>
                                Department:
                                Management
                                Phone:9975766322
                                Email:suresh@gmail.com
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>