.headings{
    height: 15px;
    left: 221px;
    top: 100px;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 15px;
    letter-spacing: 0.5px;
    color: #3247D5;
    }