<div class="container-fluid" style="padding-left: 0px; padding-right:0px;height: 10vh;background-color: blue;">
  <div class="row">
    <div class="col-lg-12">
      <app-header></app-header>
    </div>
  </div>
<br>
  <div class="row">
    <div class="col-lg-2" style="height: 90vh;">
      <app-sidebar></app-sidebar>
    </div>
    
    <div class="col-lg-10" style="height: 90vh;overflow: auto;background-color: #e5f3f5;">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
     <div>
      
    </div>