<div class="container-fluid">
   <div class="row side" style="background-color:white;height: 90vh; overflow-y: scroll;">
      <a href="#" routerLink="/Home"> <img src="../../assets/Image/home.png"  class="align" /> HOME</a>
      <a href="#" routerLink="/Company"> <img src="../../assets/Image/company.png"  class="align" /> COMPANY</a>
      <a href="#" routerLink="/Staff"> <img src="assets/Image/person-outline-icon-png-png-image-137804.png"  class="align" /> STAFF</a>
      <a href="#" routerLink="/Dashboard"> <img src="../../assets/Image/dashboard.png"  class="align" /> DASHBOARD</a>
      <a href="#" routerLink="/Setup"> <img src="../../assets/Image/setup.jpg"class="align" /> SETUP</a>
      <a href="#" routerLink="/Category"> <img src="../../assets/Image/catlog.png" class="align" /> CATALOG</a>
      <a href="#" routerLink="/Training"> <img src="../../assets/Image/download (2).png" class="align" /> TRAINING</a>
      <a href="#"> <img src="../../assets/Image/download (5).png" class="align" /> UPDATE</a>
      <a href="#"  routerLink="/Topic"> <img src="../../assets/Image/topic.png" class="align" /> TOPIC </a>
      <a href="#"  routerLink="/Chat"> <img src="../../assets/Image/chat.png" class="align" /> CHAT </a>
      <a href="#"  routerLink="/Holidays"> <img src="../../assets/Image/calinder.png" class="align" /> HOLIDAYS </a>
      <a href="#"  routerLink="/Leaveconversion"> <img src="../../assets/Image/calinder.png" class="align" />LEAVE CONVERSION </a>
   </div>


