/* .h2{
    text-align: center;
    color: gray;
}



.tabletext{
    
    left: 17.5%;
    right: 76.67%;
    top: 331px;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
    color: #0C275A;
  }


  .card {
    padding: 20px;
    background: #ffffff;
    box-shadow: 1px 1px 15px 3px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
  }
  .button{
    font-family: 'Poppins';
    font-size: 14px;
    cursor: pointer;
  }


  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  table th{
    background-color: black;
    color: white;
  }


  .add
  {
    padding: 10px;
    width: 100px;
    background-color: black;
    border-radius: 15px;
    font-size: 14px;
    color: white;
    float: right;
  }

  .edit{
    padding: 10px;
    width: 100px;
    background-color: green;
    border-radius: 15px;
    font-size: 14px;
    color: white;
    border: none;
  }

  .delete{
    padding: 10px;
    width: 100px;
    background-color: red;
    border-radius: 15px;
    font-size: 14px;
    color: white;
    border:none
  } */

  .headings{
    height: 15px;
    left: 221px;
    top: 100px;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 15px;
    letter-spacing: 0.5px;
    color: #3247D5;
    }