<div class="container-fluid">
    <br>

    <label class="headings"> Holidays Form</label>
    <div class="card">

        <br>
        <br>
        <div class="row">
            <div class="col-lg-2">
                <label for="">Holidays</label><br>
                <input type="text" class="form-control" [(ngModel)]="name">
            </div>
            <div class="col-lg-2">
                <label for="">Holiday description</label><br>
                <input type="text" class="form-control" [(ngModel)]="description">
            </div>

            <div class="col-lg-2">
                <label for="">Holiday Date</label><br>
                <input type="date" class="form-control" [(ngModel)]="date" name="date" >
            </div>


            <div class="col-lg-2">

 
               <label for="">Location</label><br>
                <input type="text" class="form-control" [(ngModel)]="location" >
            </div>


            <div class="col-lg-2">


                <ngx-dropzone (change)="onSelect($event)">
                    <ngx-dropzone-label>Drop it, image!</ngx-dropzone-label>
                    <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                    </ngx-dropzone-preview>
                </ngx-dropzone>
                <!-- <label for="">Attachment</label><br>
                <input type="file" class="form-control" [(ngModel)]="attachment"> -->
            </div>
          
          

            
        </div><br>
        <div class="row">
            <div class="col-lg-8"></div>
            <div class="col-lg-4">
                <label for=""></label><br>
                <button class="addnew" routerLink="/Holidays">Cancle</button>

                <button class="addnew" *ngIf="id==undefined||id==null" (click)="submit()" routerLink="/Holidays">Submit</button>
                <button class="addnew" *ngIf="id!=undefined||id!=null" (click)="edit()" routerLink="/Holidays">Update</button> 
            </div>
        </div>
        <br>


    </div>
</div>




